<div>
						<h2 class="grayblue">Drug Adherence</h2>
						<p><strong>Drug adherence means taking your drugs just as your doctor tells you — at the right time, in the right amount, the right way — so they'll work the way they're supposed to.</strong> Sticking to your treatment plan is the best way to keep your condition under control, while reducing risks of side effects and adverse reactions.</p>
						<ul class="bulletedlist">
					<li>Follow the specific instructions listed on the bottle. The bottle may also tell you things to avoid while taking it. Be an active partner in your own health care. <strong>Ask questions. Read up on the drugs you take. Participate in the decisions about your care.</strong> Research has shown that those who do this have better health outcomes.</li>
							<li>Tell your doctor <strong>all the drugs you take</strong>, including over-the-counter medicines, vitamins, and supplements. Carry a drug list with you to every office visit with the name, dose, how often you're supposed to take it, and any special instructions about taking it.</li>
							<li>Even though you may not feel immediate results when starting your drug, <strong>don't stop taking your drug before talking with your doctor</strong>.</li>
							
							</ul>
						<div class="read-more-content">
	
				<ul class="bulletedlist">
					<li>Talk with your doctor if you have any concerns about the drug's cost.</li>
					<li>Ask what to expect about possible side effects beforehand.</li> 
					<li>Ask questions if the instructions on how to take the medicine are not clear or if you don't understand the need for the drug.</li>
					<li>If you're taking a drug that must be given at a hospital or clinic, be sure to keep all your appointments.</li>
					<li>If possible, get all your prescriptions filled at the same pharmacy. That way the pharmacist is aware of what you take and can alert you to any possible side effects or adverse reactions with other drugs.</li>
					<li>Use a pillbox to help keep your drugs organized. Many drug stores sell them.</li>
					<li>Talk with your health care team if you have side effects, are not feeling better, or are feeling worse while taking your drug. Again, don't stop taking anything until you speak with someone from your care team.</li>
					<li>Keep in mind that even over-the-counter drugs can have side effects and adverse reactions with other drugs. Always read the labels before you buy. If you have questions, ask your pharmacist or doctor.</li>

				  </ul>
		<p>Many Americans have poorer health outcomes because they don't take their drugs as directed by their doctor. There is a big impact from not taking drugs as prescribed. Around 125,000 Americans die each year, because they didn't take their drugs as prescribed. </p></div>
					</div>