<div>
						<h2 class="grayblue">What are Biologics and Biosimilars?</h2>
						<p>Biologics are drugs made from living sources. Biosimilars are not exact copies of biologic drugs, but are based on existing biologic drugs. Biosimilars work the same way, are given the same way, and are made in the same strength and dose as the biologics they are based on. </p>
						<ul class="bulletedlist">
					<li>There are seven biologic drugs approved at this time for treating IBD and other diseases. They are all given by shot under the skin or by infusion into a vein.</li>
					<li>There are two biosimilar drugs approved at this time for treating IBD. One is available on the market right now. </li>
					<li>Biologics and biosimilars can greatly reduce or sometimes even get rid of IBD symptoms.</li>
					<li>They can  help people with IBD get to remission without having to use steroids.</li>
				  </ul>
						<div class="read-more-content">
				<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-lime" onclick="openCity(event,'Work')">How They Work</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Risks')">Risks and Benefits</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Costs')">Costs</button>
</div>
  
  <div id="Work" class="w3-container w3-border city">
    <h3>How Biologics and Biosimilars Work</h3>
    <ul class="bulletedlist" style="width:98%;">
	<li>These drugs work by blocking the actions of particular molecules that can cause inflammation in the body. Different biologics and biosimilars affect different molecules to achieve this.</li>
	<li>TNF antagonists, which are part of biologic or biosimilar drugs, bind and block a small protein called tumor necrosis factor alpha (TNF-alpha). It is this small protein that  promotes swelling in the intestine and elsewhere in the body.</li>
	<li>Integrin receptor antagonists, another part of biologic or biosimilar drugs, block a different protein, which is located on the surface of the cells that cause swelling, to keep it from moving out of the bloodstream and into tissues.</li>
	<li>IL-12 and IL-23 antagonists, yet another part of biologic or biosimilar drugs, block two cytokines, interleukin IL-12 and IL-23, from causing swelling in Crohn's disease.</li>
	</ul>
  </div>

  <div id="Risks" class="w3-container w3-border city" style="display:none">
    <h3>Risks and Benefits of Biologics and Biosimilars</h3>
    <p>As with all drugs, there are risks to using biologics and biosimilars, as well as benefits. </p> 
	  <ul class="bulletedlist" style="width:98%;">
		<li>The benefits include fewer symptoms, a better quality of life, fewer hospital admissions, and in many cases, fewer side effects than their chemically produced counterparts.</li>
		<li>The risks include a higher risk of serious infection. People who have heart failure, tuberculosis or multiple sclerosis should avoid biologics and biosimilars.</li>
		<li>Biologics and biosimilars can have some side effects, although these are relatively uncommon.</li>
		<li>In rare cases, biologics and biosimilars can cause lymphoma, infection or joint pain. Again, the benefits often outweigh these risks. Talk to your doctor about your concerns. </li>
	</ul>
  </div>

  <div id="Costs" class="w3-container w3-border city" style="display:none">
    <h3>Costs</h3>
    <ul class="bulletedlist" style="width:98%;">
	<li style="margin-bottom:1em;">Another potential issue with biologics is cost. If not covered by insurance, biologic or biosimilar drugs can run into the thousands of dollars for a dose. <br>
		<ul style="font-size:.95em;padding-left:1em;">
		<li>Biosimilars tend to be more affordable than their biologic counterparts.</li>
		<li>If you have health insurance, find out from your provider which biologics and biosimilars are covered, and at what out-of-pocket cost to you.</li>
		</ul>
	</li>
	<li>Talk with your doctor about whether a biologic or biosimilar is right for your IBD treatment plan.</li>

	</ul>
  </div>
				</div>
					</div>